* {
  font-family: Arial, Helvetica, sans-serif;
}
fieldset {
  font-size: 18px;
  padding: 15px;
  display: flex;
  flex-flow: column;
  gap: 15px;
  border-radius: 8px;
}
input {
  padding: 5px;
  font-size: 18px;
}
input[type="submit"] {
  width: 100px;
  cursor: pointer;
}
button {
  width: 200px;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}
.hidden {
  display: none;
}