/*  your css code here. If applicable */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
}
form {
  display: flex;
  flex-flow: column wrap;
  border: 2px solid black;
  padding: 30px;
  gap: 20px;
  border-radius: 5px;
  position: relative;
}
input {
  font-size: 24px;
  padding: 10px;
}
.remember-me {
  display: flex;
  flex-wrap: wrap;
  place-content: flex-start;
  gap: 10px;
}
label {
  cursor: pointer;
}
button {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
